$primary-bg: #5e4b3c;  
$secondary-bg: #6b4f3b;  
$light-bg: #f8f1e1;  
$card-front: #c8ad7f;  
$card-back: #f8f1e1;  
$button-bg: #8e6e52;  
$button-hover-bg: #6b4f3b;  
$text-color: #6b4f3b;  
$button-text-color: #f8f1e1;  
$result-message-color: #f8f1e1;  